import { useRouter } from "next/router";
import Head from "next/head";

import { Spinner, MDPreview } from '@/components/Elements';
import { ContentLayout, MainLayout } from '@/components/Layout';
import { formatDate } from '@/utils/format';

import { use{{properCase name}} } from '@/features/{{camelCase name}}/api/get{{properCase name}}';
import { Update{{properCase name}} } from '@/features/{{camelCase name}}/components/Update{{properCase name}}';

const {{properCase name}} = () => {
const { query } = useRouter();
const {{camelCase name}}Id = parseInt(query.{{camelCase name}}Id as string);
const {{camelCase name}}Query = use{{properCase name}}({ {{camelCase name}}Id });

if ({{camelCase name}}Query.isLoading) {
    return (
        <div className="w-full h-48 flex justify-center items-center">
            <Spinner size="lg"/>
        </div>
    );
}

if (!{{camelCase name}}Query.data) return null;

    return (
        <>
            <Head>
                <title>{ {{camelCase name}}Query.data.id}</title>
            </Head>
            <MainLayout>
                <ContentLayout title={ {{camelCase name}}Query.data.id.toString()}>
                    <span className="text-xs font-bold">{formatDate({{camelCase name}}Query.data.createdAt)}</span>
                    <div className="mt-6 flex flex-col space-y-16">
                        <div className="flex justify-end">
                            <Update{{properCase name}} {{camelCase name}}Id
                            ={ {{camelCase name}}Id}/>
                        </div>
                        <div>
                            <div className="bg-white shadow overflow-hidden sm:rounded-lg">
                                <div className="px-4 py-5 sm:px-6">
                                    <div className="mt-1 max-w-2xl text-sm text-gray-500">
                                        <MDPreview value={ {{camelCase name}}Query.data.body}/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ContentLayout>
            </MainLayout>
        </>
    );
};

export default {{properCase name}}
