import { TrashIcon } from '@heroicons/react/outline';

import { Button, ConfirmationDialog } from '@/components/Elements';
import { Authorization, ROLES } from '@/lib/authorization';

import { useDelete{{properCase name}} } from '../api/delete{{properCase name}}';

type Delete{{properCase name}}Props = {
  id: number;
};

export const Delete{{properCase name}} = ({ id }: Delete{{properCase name}}Props) => {
  const delete{{properCase name}}Mutation = useDelete{{properCase name}}();

  return (
    <Authorization allowedRoles={[ROLES.ADMIN]}>
      <ConfirmationDialog
        icon="danger"
        title="Delete {{properCase name}}"
        body="Are you sure you want to delete this {{lowerCase name}}?"
        triggerButton={
          <Button variant="danger" startIcon={<TrashIcon className="h-4 w-4" />}>
            Delete {{properCase name}}
          </Button>
        }
        confirmButton={
          <Button
            isLoading={delete{{properCase name}}Mutation.isLoading}
            type="button"
            className="bg-red-600"
            onClick={async () => await delete{{properCase name}}Mutation.mutateAsync({ {{camelCase name}}Id: id })}
          >
            Delete {{properCase name}}
          </Button>
        }
      />
    </Authorization>
  );
};
