import { ContentLayout } from '@/components/Layout';

import { Create{{properCase name}} } from '@/features/{{camelCase name}}/components/Create{{properCase name}}';
import { {{properCase name}}sList } from '@/features/{{camelCase name}}/components/{{properCase name}}sList';

export const {{properCase name}}s = () => {
return (
<ContentLayout title="{{properCase name}}s">
    <div className="flex justify-end">
        <Create{{properCase name}} />
    </div>
    <div className="mt-4">
        <{{properCase name}}sList/>
    </div>
</ContentLayout>
);
};
